---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="notes">
                <h2>What is this site?</h2>
                <p>We continuously monitor the status of all Compile APIs. Any interruption will be noted down here.</p>
                <h2>What are these graphs?</h2>
                <p>The graphs are generated based on periodic checks of Compile APIs. They’re accurate to within a few minutes.</p>
                <hr />
            </div>
            <div class="row">
            <div class="col-sm-4">
                <ul class="nav nav-pills nav-justified" id="statusTabs">
                {% for status in site.status_pages %}
                  <li{% if forloop.first == true %} class="active"{% endif %}>
                    <a href="#{{status.key}}" data-toggle="tab">{{ status.title }}</a>
                  </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-sm-2 col-sm-offset-6 text-right">
                <a class="btn btn-default refresh-status" data-toggle="tooltip" data-placement="left" title="Refresh status">
                    <i class="fa fa-refresh"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">            
            <div class="tab-content">
              {% for status in site.status_pages %}
              <div class="tab-pane{% if forloop.first == true %} active{% endif %}" id="{{status.key}}">
                {% if status.target == "comingsoon" %}
                <h2 class="help-text text-center">Coming soon..</h2>
                {% else %}
                  <iframe class="status_page" width="100%" frameborder="" =0 src="https://updown.io/{{ status.target }}" target="_parent" onload="resizeIframe(this)"></iframe>
                {% endif %}
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
</div>
